{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles %}
{{super()}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/user-styles.css')}}">
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container flex">
   <div class="tickets">
         <ul class="nav nav-tabs">
           <li class="nav-item">
             <a class="nav-link active" data-toggle="tab" href="#my-tickets">My Tickets</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" data-toggle="tab" href="#assigned">Assigned Tickets</a>
           </li>
         </ul>
         <div class="tab-content">
           <div class="tab-pane container active" id="my-tickets">
             <div class="ticket-cards" id="my-tickets-inner">
               {{macro.displayMyTickets(my_tickets)}}
             </div>
           </div>
           <div class="tab-pane container fade" id="assigned">
             {{macro.displayAssignedTickets(tech_tickets)}}
           </div>
         </div>
       </div>
 </div>
{% endblock %}
