{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macro %}
{% block styles %}
{{super()}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/user-styles.css')}}">
{% endblock %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}
{% block content %}
<div class="container flex">
    <div class="tickets">
        <div class="row">
            <div class="col-md-8">
                <div style="border: 2px solid #082845; border-radius:5px; padding: 10px;">
                    <h3>{{ticket.ticket_title}}</h3>
                    <hr width='100' style="border:0.5px solid; color:#BEBEBE;">
                    <p>{{ticket.ticket_description}}</p>
                    <p><i class="fas fa-exclamation-circle"></i> {{ticket.severity}} <i class="fas fa-user"></i>
                        {% if ticket.ticket.id == current_user.id %}
                        <span class="technician">{{ticket.assigned_to}}</span>
                        {% else %}
                        <span class="technician">{{ticket.ticket.username}}</span>
                        {% endif %}
                    </p>
                    <p>Status: <span class="text-muted">{{ticket.status}}</span></p>
                    {% if current_user.username == ticket.assigned_to %}
                    {% if ticket.status == 'open' %}
                    <h6>Change Status:</h6>
                    <a href="{{url_for('main.update_progress', id=ticket.id)}}" class="btn btn-warning btn-md text-white">In Progress</a>
                    <a href="{{url_for('main.update_closed',id=ticket.id)}}" class="btn btn-md btn-success">Close</a>
                    {% elif ticket.status == 'progress' %}
                    <h6>Change Status:</h6>
                    <a href="{{url_for('main.update_closed',id=ticket.id)}}" class="btn btn-md btn-success">Close</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="messages">
                    <!-- <button type="button" name="button" class="btn btn-primary" id="message-btn">Reply</button> -->
                    <div class="message-form well well-lg" style="background-color: #fff;">
                        {% if ticket.ticket.id == current_user.id %}
                        <h5>Got any enquiries or feedback ? Chat with us:</h5>
                        {% elif current_user.username == ticket.assigned_to %}
                        <h5>Got any feedback? Chat with your client:</h5>
                        {% endif %}
                        {{wtf.quick_form(form)}}
                    </div>
                </div>
                <!-- <script type="text/javascript">
                    $(document).ready(function() {
                        $("#message-btn").click(function() {
                            $(".message-form").toggle('slow');
                        });
                    });
                </script> -->
            </div>
            <div class="">
                {{macro.displayMessages(messages)}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
